// photography.scss

@import "../settings/_fonts.scss";
@import "../settings/_layout.scss";

#photography {
  min-height: 640px;
  background:
    linear-gradient(
      rgba(34, 34, 34, 0.75),
      rgba(34, 34, 34, 0.75)
    ),
    url('../images/golden-gate.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: $font-family-default;
}

.photography {
  &-container {
    @include flex-center;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    height: 100%;
  }
  &-title {
    @include font-section-title;
    margin: 0 auto;
    text-align: center;
    color: #fff;
  }
  &-text {
    display: block;
    margin-top: 40px;
    font-size: 17pt;
    font-weight: 300;
    line-height: 1.3;
    text-align: center;
    color: #ffffff;
  }
  &-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 10px 15px;
    border-radius: 5px;
    border: solid 2px #fff;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.314s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.35);
    }
  }
  &-500px {
    padding-left: 7px;
    width: auto;
    height: 20px;
  }
}

// media queries

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
  /* phones */
  .photography {
    &-container {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
  .photography {
    &-title {
      font-size: 20pt;
    }
    &-text {
      font-size: 13pt;
    }
    &-button {
      font-size: 11pt;
      flex-direction: column;
    }
    &-500px {
      margin-top: 10px;
    }
  }

}
